<section class="hero is-dark">
  <div class="hero-head">
    <nav class="navbar">
      <div class="container">
        <div id="navbarMenuHeroB" class="navbar-menu">
          <div class="navbar-end">
            <a class="navbar-item" routerLink="/home">
              Home
            </a>
            <a class="navbar-item" routerLink="/search">
              Search!
            </a>
            <a class="navbar-item" routerLink="/instruction">  
              Instruction
            </a>
            
          </div>
        </div>
      </div>
    </nav>
  </div>
  <div class="hero-body">
    <div class="container">
      <a routerLink="/home">
        
        <h1 class="title">
          
          <span class="Gstyle">G</span>-<span class="YOCstyle">YOC</span>
        </h1>
        
        <h2 class="subtitle">
          Get Your Own Clothing
        </h2>
      </a>
    </div>
  </div>
</section>
<router-outlet></router-outlet>

<span class="go-top-icon icon is-large" id="go-top-icon">
    <span class="fa-stack " (click)="gotop()">
        <i class="fas fa-chevron-circle-up fa-stack-2x  has-text-danger"></i>
    </span>
</span>
