<section class="hero is-dark">
  <div class="hero-head">
    <nav class="navbar">
      <div class="container">
        <div id="navbarMenuHeroB" class="navbar-menu">
          <div class="navbar-end">
            <a class="navbar-item" routerLink="/home">
              Home
            </a>
            <a class="navbar-item" routerLink="/search">
              Search!
            </a>
            <a class="navbar-item" routerLink="/home">  
              Match
            </a>
            
          </div>
        </div>
      </div>
    </nav>
  </div>
  <div class="hero-body">
    <div class="container">
      <a routerLink="/home">
        <h1 class="title">
          <span class="Gstyle">G</span>-<span class="YOCstyle">YOC</span>
        </h1>
        
        <h2 class="subtitle">
          Get Your Own Clothing
        </h2>
      </a>
    </div>
  </div>
</section>
<router-outlet></router-outlet>