<section class="section">
  <div class="container">
    <!--div class="columns">
      <div class="column">

      </div>
    </div-->
    <div routerLink="/home" class="is-spaced" style="margin-bottom: 20px;">
      <div class="image is-64x64 go-centered"><img src="../assets/G-YOC.png" alt="Logo"></div>
    </div>
    <div class="buttons is-centered animate_left_1">
        <a routerLink="/search" title="Search" >
          <span class="button is-large is-dark is-outlined">Search!</span>    
        </a>
        <span class="button" style="visibility: hidden;"></span>
        <a title="Match Your clothes">
          <span class="button is-large is-lite is-outlined" (click)="getRandomMatch()" >Match</span>       
        </a>
    </div>
  </div>
</section>

<div class="tabs is-centered">
  <ul>
    <li [ngClass]="Women" (click)="gender = 'Women';Women = 'is-active'; Men = ''; getRandomMatch()"><a>Women</a></li>
    <li [ngClass]="Men"(click)="gender = 'Men'; Women = '' ; Men = 'is-active'; getRandomMatch()" ><a>Men</a></li>
  </ul>
</div>

<section class="section" >
  <div class="container">
    <div class="columns">
      <div class="column">
        <figure  class="image is-256x256">
          <a target="_blank" href="{{ resClothes.url }}">
            <img src="{{ resClothes.img_url }}">
          </a>
        </figure>
      </div>
      <div class="column">
        <figure class="image is-256x256" >
          <a target="_blank" href="{{ resPants.url }}">
            <img src="{{ resPants.img_url }}">
          </a>
        </figure>
      </div>
      <div class="column">
        <figure class="image is-256x256">
            <a target="_blank" href="{{ resShoes.url }}">
              <img src="{{ resShoes.img_url }}">
            </a>
        </figure>
      </div>
      
    </div>
    <div class="columns">
      <div class="column is-4 is-offset-4">
        <p class="has-text-centered package-price is-size-4"> 
         Total Price <span class="has-text-danger">{{ package_price | currency : 'TWD' :'symbol' :'3.0-0' }}</span>
        </p>
      </div>
    </div>
  </div>
</section>

<footer class="footer is-dark">
  <div class="container">
    <div class="content has-text-centered">
      <p>
        This is a website for getting your own clothing.
      </p>      
      <p>
        <a target="_blank" href="https://github.com/bobosheep/G-YOC"><span class="icon is-medium has-text-black"><i class="fab fa-github fa-2x"></i></span></a>
        <a target="_blank" href="https://www.facebook.com/G-YOC-139433063583923/"><span class="icon is-medium"><i class="fab fa-facebook fa-2x" ></i></span></a>
      </p>
    </div>
  </div>
</footer>